In [1]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\ihiro\anaconda3\lib\site-packages (0.1.74)
Requirement already satisfied: lxml>=4.5.1 in c:\users\ihiro\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ihiro\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in c:\users\ihiro\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: requests>=2.26 in c:\users\ihiro\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\ihiro\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ihiro\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\ihiro\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ihiro\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ihiro\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ihiro\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ihiro\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ihiro\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import yfinance as yf

In [40]:
meta = yf.Ticker('META')

In [41]:
days = 20
hist = meta.history(period=f'{days}d')

In [42]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-03,137.139999,139.619995,136.100006,138.610001,27723100,0,0
2022-10-04,140.490005,142.389999,139.339996,140.279999,34670700,0,0
2022-10-05,138.240005,140.210007,134.779999,138.979996,27979300,0,0
2022-10-06,137.720001,141.449997,136.600006,139.070007,36231100,0,0
2022-10-07,136.759995,138.289993,132.440002,133.449997,33179700,0,0
2022-10-10,133.550003,136.110001,131.869995,133.789993,24024000,0,0
2022-10-11,131.619995,132.660004,126.989998,128.539993,38481400,0,0
2022-10-12,128.320007,129.669998,126.250000,127.500000,34605200,0,0
2022-10-13,123.529999,131.139999,122.529999,130.289993,34325700,0,0
2022-10-14,131.000000,131.789993,126.519997,126.760002,23538600,0,0
2022-10-17,130.300003,134.789993,130.179993,134.039993,29612200,0,0
2022-10-18,137.089996,137.839996,131.399994,132.800003,25445000,0,0
2022-10-19,132.889999,137.000000,132.220001,133.229996,30691000,0,0
2022-10-20,132.929993,136.770004,131.309998,131.529999,26356300,0,0
2022-10-21,126.309998,130.119995,125.440002,130.009995,46195500,0,0
2022-10-24,127.250000,133.479996,124.570000,129.720001,63563400,0,0
2022-10-25,130.880005,138.350006,130.589996,137.509995,38433200,0,0
2022-10-26,131.679993,135.550003,128.529999,129.820007,82791500,0,0
2022-10-27,97.980003,102.500000,96.379997,97.940002,232316600,0,0
2022-10-28,99.580002,100.849998,97.510002,99.199997,95728200,0,0

In [43]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [44]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-10-03,137.139999,139.619995,136.100006,138.610001,27723100,0,0
1,2022-10-04,140.490005,142.389999,139.339996,140.279999,34670700,0,0
2,2022-10-05,138.240005,140.210007,134.779999,138.979996,27979300,0,0
3,2022-10-06,137.720001,141.449997,136.600006,139.070007,36231100,0,0
4,2022-10-07,136.759995,138.289993,132.440002,133.449997,33179700,0,0
5,2022-10-10,133.550003,136.110001,131.869995,133.789993,24024000,0,0
6,2022-10-11,131.619995,132.660004,126.989998,128.539993,38481400,0,0
7,2022-10-12,128.320007,129.669998,126.250000,127.500000,34605200,0,0
8,2022-10-13,123.529999,131.139999,122.529999,130.289993,34325700,0,0
9,2022-10-14,131.000000,131.789993,126.519997,126.760002,23538600,0,0
10,2022-10-17,130.300003,134.789993,130.179993,134.039993,29612200,0,0
11,2022-10-18,137.089996,137.839996,131.399994,132.800003,25445000,0,0
12,2022-10-19,132.889999,137.000000,132.220001,133.229996,30691000,0,0
13,2022-10-20,132.929993,136.770004,131.309998,131.529999,26356300,0,0
14,2022-10-21,126.309998,130.119995,125.440002,130.009995,46195500,0,0
15,2022-10-24,127.250000,133.479996,124.570000,129.720001,63563400,0,0
16,2022-10-25,130.880005,138.350006,130.589996,137.509995,38433200,0,0
17,2022-10-26,131.679993,135.550003,128.529999,129.820007,82791500,0,0
18,2022-10-27,97.980003,102.500000,96.379997,97.940002,232316600,0,0
19,2022-10-28,99.580002,100.849998,97.510002,99.199997,95728200,0,0

In [16]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-03,235.410004,241.610001,234.660004,240.740005,28880400,0,0
2022-10-04,245.089996,250.360001,244.979996,248.880005,34888400,0,0
2022-10-05,245.990005,250.580002,244.100006,249.199997,20347100,0,0
2022-10-06,247.929993,250.339996,246.080002,246.789993,20239900,0,0
2022-10-07,240.899994,241.320007,233.169998,234.240005,37732400,0,0

In [45]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2022-10-03,137.139999,139.619995,136.100006,138.610001,27723100,0,0,235.410004,241.610001,234.660004,240.740005,28880400,0,0
2022-10-04,140.490005,142.389999,139.339996,140.279999,34670700,0,0,245.089996,250.360001,244.979996,248.880005,34888400,0,0
2022-10-05,138.240005,140.210007,134.779999,138.979996,27979300,0,0,245.990005,250.580002,244.100006,249.199997,20347100,0,0
2022-10-06,137.720001,141.449997,136.600006,139.070007,36231100,0,0,247.929993,250.339996,246.080002,246.789993,20239900,0,0
2022-10-07,136.759995,138.289993,132.440002,133.449997,33179700,0,0,240.899994,241.320007,233.169998,234.240005,37732400,0,0

In [46]:
hist.index

DatetimeIndex(['2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06',
               '2022-10-07', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-17', '2022-10-18',
               '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [47]:
import datetime

In [48]:
hist.index.strftime('%d %B %Y')

Index(['03 October 2022', '04 October 2022', '05 October 2022',
       '06 October 2022', '07 October 2022', '10 October 2022',
       '11 October 2022', '12 October 2022', '13 October 2022',
       '14 October 2022', '17 October 2022', '18 October 2022',
       '19 October 2022', '20 October 2022', '21 October 2022',
       '24 October 2022', '25 October 2022', '26 October 2022',
       '27 October 2022', '28 October 2022'],
      dtype='object', name='Date')

In [49]:
hist.index = hist.index.strftime('%d %B %Y')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
03 October 2022,137.139999,139.619995,136.100006,138.610001,27723100,0,0
04 October 2022,140.490005,142.389999,139.339996,140.279999,34670700,0,0
05 October 2022,138.240005,140.210007,134.779999,138.979996,27979300,0,0
06 October 2022,137.720001,141.449997,136.600006,139.070007,36231100,0,0
07 October 2022,136.759995,138.289993,132.440002,133.449997,33179700,0,0
10 October 2022,133.550003,136.110001,131.869995,133.789993,24024000,0,0
11 October 2022,131.619995,132.660004,126.989998,128.539993,38481400,0,0
12 October 2022,128.320007,129.669998,126.250000,127.500000,34605200,0,0
13 October 2022,123.529999,131.139999,122.529999,130.289993,34325700,0,0
14 October 2022,131.000000,131.789993,126.519997,126.760002,23538600,0,0
17 October 2022,130.300003,134.789993,130.179993,134.039993,29612200,0,0
18 October 2022,137.089996,137.839996,131.399994,132.800003,25445000,0,0
19 October 2022,132.889999,137.000000,132.220001,133.229996,30691000,0,0
20 October 2022,132.929993,136.770004,131.309998,131.529999,26356300,0,0
21 October 2022,126.309998,130.119995,125.440002,130.009995,46195500,0,0
24 October 2022,127.250000,133.479996,124.570000,129.720001,63563400,0,0
25 October 2022,130.880005,138.350006,130.589996,137.509995,38433200,0,0
26 October 2022,131.679993,135.550003,128.529999,129.820007,82791500,0,0
27 October 2022,97.980003,102.500000,96.379997,97.940002,232316600,0,0
28 October 2022,99.580002,100.849998,97.510002,99.199997,95728200,0,0

In [52]:
hist = hist[['Close']]
hist.columns = ['FB']
hist.head()

                         FB
Date
03 October 2022  138.610001
04 October 2022  140.279999
05 October 2022  138.979996
06 October 2022  139.070007
07 October 2022  133.449997

In [53]:
hist.T

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
FB,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.5,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [54]:
hist = hist.T

In [55]:
hist.index.name = 'Name'
hist

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
FB,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.5,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [70]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [ ]:
  'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'

In [59]:
for company in tickers.keys():
    print(company)

apple
facebook

In [63]:
df

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
facebook,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
google,98.639999,101.639999,101.430000,101.419998,98.680000,97.860001,97.180000,97.559998,99.059998,96.559998,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
netflix,239.039993,240.740005,236.729996,240.020004,224.750000,229.979996,214.289993,220.869995,232.509995,230.000000,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001
amazon,115.879997,121.089996,120.949997,120.300003,114.559998,113.669998,112.209999,112.900002,112.529999,106.900002,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004

In [71]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}
get_data(days, tickers)

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
facebook,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
google,98.639999,101.639999,101.430000,101.419998,98.680000,97.860001,97.180000,97.559998,99.059998,96.559998,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
netflix,239.039993,240.740005,236.729996,240.020004,224.750000,229.979996,214.289993,220.869995,232.509995,230.000000,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001
amazon,115.879997,121.089996,120.949997,120.300003,114.559998,113.669998,112.209999,112.900002,112.529999,106.900002,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004

In [72]:
pip install altair

Requirement already satisfied: altair in c:\users\ihiro\anaconda3\lib\site-packages (4.2.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas>=0.18 in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (1.3.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: jinja2 in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: toolz in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: numpy in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (1.20.3)
Requirement already satisfied: entrypoints in c:\users\ihiro\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: six>=1.11.0 in c:\users\ihiro\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0->altair) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ihiro\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ihiro\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (21.2.0)
Requirement already satisfied: setuptools in c:\users\ihiro\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (58.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ihiro\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\ihiro\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ihiro\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)

In [73]:
import altair as alt

In [74]:
df

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
facebook,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
google,98.639999,101.639999,101.430000,101.419998,98.680000,97.860001,97.180000,97.559998,99.059998,96.559998,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
netflix,239.039993,240.740005,236.729996,240.020004,224.750000,229.979996,214.289993,220.869995,232.509995,230.000000,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001
amazon,115.879997,121.089996,120.949997,120.300003,114.559998,113.669998,112.209999,112.900002,112.529999,106.900002,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004

In [83]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
facebook,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [84]:
data.sort_index()

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
facebook,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [85]:
data = data.T.reset_index()
data

Name             Date       apple    facebook
0     03 October 2022  142.449997  138.610001
1     04 October 2022  146.100006  140.279999
2     05 October 2022  146.399994  138.979996
3     06 October 2022  145.429993  139.070007
4     07 October 2022  140.089996  133.449997
5     10 October 2022  140.419998  133.789993
6     11 October 2022  138.979996  128.539993
7     12 October 2022  138.339996  127.500000
8     13 October 2022  142.990005  130.289993
9     14 October 2022  138.380005  126.760002
10    17 October 2022  142.410004  134.039993
11    18 October 2022  143.750000  132.800003
12    19 October 2022  143.860001  133.229996
13    20 October 2022  143.389999  131.529999
14    21 October 2022  147.270004  130.009995
15    24 October 2022  149.449997  129.720001
16    25 October 2022  152.339996  137.509995
17    26 October 2022  149.350006  129.820007
18    27 October 2022  144.800003   97.940002
19    28 October 2022  155.740005   99.199997

In [80]:
data.head()

Name             Date       apple    facebook
0     03 October 2022  142.449997  138.610001
1     04 October 2022  146.100006  140.279999
2     05 October 2022  146.399994  138.979996
3     06 October 2022  145.429993  139.070007
4     07 October 2022  140.089996  133.449997

In [86]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

               Date      Name  Stock Prices(USD)
0   03 October 2022     apple         142.449997
1   04 October 2022     apple         146.100006
2   05 October 2022     apple         146.399994
3   06 October 2022     apple         145.429993
4   07 October 2022     apple         140.089996
5   10 October 2022     apple         140.419998
6   11 October 2022     apple         138.979996
7   12 October 2022     apple         138.339996
8   13 October 2022     apple         142.990005
9   14 October 2022     apple         138.380005
10  17 October 2022     apple         142.410004
11  18 October 2022     apple         143.750000
12  19 October 2022     apple         143.860001
13  20 October 2022     apple         143.389999
14  21 October 2022     apple         147.270004
15  24 October 2022     apple         149.449997
16  25 October 2022     apple         152.339996
17  26 October 2022     apple         149.350006
18  27 October 2022     apple         144.800003
19  28 October 2022     apple         155.740005
20  03 October 2022  facebook         138.610001
21  04 October 2022  facebook         140.279999
22  05 October 2022  facebook         138.979996
23  06 October 2022  facebook         139.070007
24  07 October 2022  facebook         133.449997
25  10 October 2022  facebook         133.789993
26  11 October 2022  facebook         128.539993
27  12 October 2022  facebook         127.500000
28  13 October 2022  facebook         130.289993
29  14 October 2022  facebook         126.760002
30  17 October 2022  facebook         134.039993
31  18 October 2022  facebook         132.800003
32  19 October 2022  facebook         133.229996
33  20 October 2022  facebook         131.529999
34  21 October 2022  facebook         130.009995
35  24 October 2022  facebook         129.720001
36  25 October 2022  facebook         137.509995
37  26 October 2022  facebook         129.820007
38  27 October 2022  facebook          97.940002
39  28 October 2022  facebook          99.199997

In [108]:
ymin, ymax = 120, 160
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    ) 
)

In [109]:
chart

alt.Chart(...)